#[[source]]
#url = "https://pypi.org/simple"
#verify_ssl = true
#name = "pypi"
#
#[packages]
#pillow = "*"
#streamlit = "*"
#colorthief = "*"
#matplotlib = "*"
#watchdog = "*"
#
#[dev-packages]
#black = "*"
#
#[requires]
#python_version = "3.8"
#
#[pipenv]
#allow_prereleases = true

[theme]
primaryColor="#27a5da"
backgroundColor="#f7fbfd"
secondaryBackgroundColor="#d6dcde"
textColor="#171b29"
